body {
}
.black_overlay{
			display:none;
			position: absolute;
			top: 0%;
			left: 0%;
			width: 100%;
			min-height: 830px;
			background-color:gray;
			z-index:1001;
			-moz-opacity: 0.8;
			opacity:.80;
			filter: alpha(opacity=80);
		}
		.white_content {
			display:none;
			position: absolute;
			top: 25%;
			left: 35%;
			width: 35%;
			
			padding: 0px;
			border: 0px solid #333333;
			background-color: white;
			z-index:1002;
			overflow: auto;
		}
		.headertext{
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
color:#f19a19;
font-weight:bold;
}
.textfield
{
	border:1px solid #333333;
	width:170px;
	height:25px;
	font-size:15px; 
}
.textfield:focus
{
	border:1px solid black;  
}
.button2
{
 background-color:#333333;
 color:White;
 font-size:11px;
 font-weight:bold;
 border:1px solid #7f9db9;
 width:68px;
	}
.button2:hover
{cursor:pointer;}